<ion-content [fullscreen]="true">
  <div class = "header">
    <ion-header class = "title">Welcome Back</ion-header>
  
  <p class = "subTitle">Sign in to access your account</p>
  </div>

  <form [formGroup] = 'loginForm' >
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName = 'email' placeholder = "email" class = "input">
        </ion-input>
        <ion-icon name='person-outline'>
        </ion-icon>
      </ion-item>


      <ion-text *ngIf="isFieldInvalid('email')" class="errorInput" style = "color:red; font-weight:400;">
        <ng-container *ngIf="loginForm.get('email')?.errors?.required">Email is required</ng-container>
        <ng-container *ngIf="loginForm.get('email')?.errors?.pattern">Provide a valid email</ng-container>
 
       </ion-text>


      <ion-item>
        <ion-input formControlName = 'password' placeholder = "password" class = "input">
        </ion-input>
        <ion-icon name='lock-closed-outline'>
        </ion-icon>
      </ion-item>

      <ion-text *ngIf="isFieldInvalid('password')" class="errorInput" style = "color:red; font-weight:400;">
        <ng-container *ngIf="loginForm.get('password')?.errors?.required">Password is required</ng-container>
        <ng-container *ngIf="loginForm.get('password')?.errors?.pattern">Password must have atleast 1 special characher, one capital letter, one number and contain 8 characters.</ng-container>
 
       </ion-text>

      <div class = "forgotPassword">
        <a [routerLink]="['/reset-password']" style ="color:#FFC33F;">Forgot Password?</a>
      </div>

      <div class = "signupLink">
        <p>New Member?<a style ="color:#FFC33F;" [routerLink]="['/signup']"> Sign Up</a></p>

      </div>


    </div>

    <ion-fab vertical="bottom" horizontal="end" style = "margin-bottom:30px;">
      <ion-fab-button (click) = "login()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

</ion-content>